body{
    background-color: bisque;
}
h1{
    text-align: center;
    color:rgb(191, 108, 0)
}
h2{
    text-align: center;
    color:rgb(180, 106, 10)
}
h3{
    text-align: center;
    color:rgb(73, 58, 38)
}
table{
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}
button{
    margin-left: auto;
    margin-right: auto;
    display:flex;
}
h4,h5{
    text-align: center;
    color:rgb(0, 0, 0)
}